@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    /* Primary Colors */
    --primary-100: 188 66% 59%; /* #56C8DD */
    --primary-200: 188 63% 45%; /* #2BA4B9 */
    --primary-300: 188 67% 42%; /* #24A0B5 */
    --primary-400: 190 67% 31%; /* #197686 */

    /* Gray/Neutral Colors */
    --gray-100: 0 0% 98%; /* #FAFAFA */
    --gray-200: 0 0% 85%; /* #D9D9D9 */
    --gray-300: 0 0% 100%; /* #FFFFFF */
    --gray-900: 0 0% 0%; /* #000000 */

    /* Accent Colors */
    --accent-100: 188 64% 18%; /* #0E464F */
    --accent-200: 191 71% 14%; /* #07373F */
    --accent-300: 192 70% 8%; /* #041E23 */
    --accent-400: 191 80% 6%; /* #02191D */
    --accent-500: 192 73% 10%; /* #052930 */
    --accent-600: 193 58% 10%; /* #08252B */
    --accent-700: 193 69% 8%; /* #052228 */
    --accent-800: 225 14% 6%; /* #0A0C11 */

    /* Opacity Variations */
    --gray-900-20: 0 0% 0% / 20%; /* #000000 at 20% opacity */
    --gray-900-10: 0 0% 0% / 10%; /* #000000 at 10% opacity */
  }
}

@layer base {
  body {
    @apply bg-accent-400;
  }

  @media (min-width: 768px) {
    body {
      background:
        radial-gradient(
          52.52% 32.71% at 50% 97.66%,
          rgba(36, 160, 181, 0.2) 0%,
          rgba(36, 160, 181, 0) 100%
        ),
        #02191d;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
